/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #ecc7c7 !important;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#navbarToggleExternalContent {
    width: 100%;
}

.navbar-toggler {
    margin-left: auto;
    text-decoration: none;
}

.bg-dark .list-unstyled {
    margin: 0;
    padding: 0;
    gap: 15px;
}

.navbarlogo {
    height: 60px;
    width: 60px;
}

/* Header Styles */
.gradient-header {
    top: 0; /* Align it to the top */
    width: 100%; /* Make it span the full width of the viewport */
    background-image: linear-gradient(to right, #D9AFD9 0%, pink, #97D9E1 100%);
    color: #fff;
    text-align: center;
    z-index: 1000; /* Ensure it stays above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: add a shadow for better visibility */
}

.header-content {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.header-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    padding: 30px;
}

.header-content h1 a {
    text-decoration: none;
    padding: 50px;
    color: inherit;
}

.header-content p {
    font-size: 1.2rem;
    padding: 0px;
    margin-bottom: 20px;
}

.header-content nav ul {
    list-style-type: none;
    padding: 0;
}

.header-content nav ul li {
    display: inline-block;
    margin: 0 15px;
}

.header-content nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.header-content nav ul li a:hover {
    color: #696969; /* Change color on hover */
}

/* wheel */

.wheel-container {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel-container .spinBtn{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #333;
    border: 4px solid rgba(0,0,0,0.75);
    cursor: pointer;
    user-select: none;
}

.wheel-container .spinBtn::before {
    content: '';
    position: absolute;
    top: -28px;
    width: 20px;
    height: 30px;
    background: #fff;
    clip-path: polygon(50% 0,15% 100%,85% 100%);
}

.wheel-container .wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a28787;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px #fffcfc,
    0 0 0 15px #fff
    0 0 0 18px #111;
    transition: transform 6s ease-in-out;
}

.wheel-container .wheel .number{
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(36deg * var(--i)));
    clip-path: polygon(0 0,48% 0,
    100% 100%,0 48%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.wheel-container .wheel .number span{
    position: relative;
    transform: rotate(36deg);
    font-size: 1em;
    font-weight: 700;
    color: #fff;
}

.wheel-container .wheel .number span::after{
    position: absolute;
    font-size: 0.75em;
    font-weight: 500;
}

/* FOOTER */

footer {
    background-color: #ccc; /* Dark background color for better contrast */
    color: #ccc;
    text-align: center;
    font-size: 15px;
    position: relative;
    width: 100%;
    padding: 10px 0; /* Reduced padding to decrease spacing */
    margin: 0; /* Ensure no margin is added by default */
    margin-top: auto; /* Pushes footer to the bottom */
}

footer p {
    margin: 0; /* Ensure no additional margin is added to paragraphs */
    padding: 0; /* Ensure no additional padding is added to paragraphs */
}

#disclaimer {
    font-size: 10px;
    color: #fff;
    padding: 10px;
}

