/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */
.gradient-header {
    background-image: linear-gradient(to right, #D9AFD9 0%, pink, #97D9E1 100%);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.header-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header-content h1 a {
    text-decoration: none;
    color: inherit;
}

.header-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.header-content nav ul {
    list-style-type: none;
    padding: 0;
}

.header-content nav ul li {
    display: inline-block;
    margin: 0 15px;
}

.header-content nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

/* Main Content Styles */
main {
    flex: 1;
    padding: 20px;
}

.hero-section {
    text-align: center;
    margin-top: 50px;
}

.hero-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

/* Event List Styles */
#event-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.event-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.event-card p {
    margin-bottom: 10px;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .event-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .event-card {
        width: 100%;
    }
}

/* Date Ideas Section Styles */
#date-ideas {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#search-bar-container {
    margin-bottom: 20px;
}

#search-bar {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 1rem;
}

/* CSS for the tags */
.tags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: #007bff; /* You can change the color */
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px; /* Adjust this value to control the roundness */
    margin-right: 5px;
}


/* GENERATE */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding-top: 10px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    padding: 10px;
}

.wrapper {
    width: 90%;
    max-width: 34.37em;
    max-height: 90vh;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 10px;
    border-radius: 1em;
    box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}

.main > h1 {
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px rgb(200, 200, 200);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

#wheel {
    max-height: inherit;
    width: inherit;
    top: 0;
    padding: 0;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

#spin-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 26%;
    width: 26%;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    color: #372685;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    font-weight: 600;
}

img {
    position: absolute;
    width: 4em;
    top: 45%;
    right: -8%;
}

#final-value {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1.5em;
    color: #202020;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .wrapper {
        font-size: 12px;
    }

    img {
        right: -5%;
    }
}



/* END OF GENERATE */

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Tag Styles */
.tag {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    font-size: 0.8rem;
}

/* Recommendation Form Styles */
#recommendation-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Recommendation Result Styles */
#recommendation-result {
    margin-top: 30px;
    padding: 30px;
    background: #e9ecef;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}