/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-decoration: none;

    .navbar-toggler {
        margin-left: auto;
         text-decoration: none;
    }
    
    .bg-dark .list-unstyled {
        margin: 0;
        padding: 0;
        gap: 15px;
        text-decoration: none;
    }
    
    .bg-dark .list-unstyled li {
        list-style: none;
        text-decoration: none;
    }

/* Header Styles */
.gradient-header {
    background-image: linear-gradient(to right, #D9AFD9 0%, pink, #97D9E1 100%);
    color: #fff;
    text-align: center;
}

.header-content {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.header-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    padding: 30px;
}

.header-content h1 a {
    text-decoration: none;
    padding: 50px;
    color: inherit;
}

.header-content p {
    font-size: 1.2rem;
    padding: 0px;
    margin-bottom: 20px;
}

.header-content nav ul {
    list-style-type: none;
    padding: 0;
}

.header-content nav ul li {
    display: inline-block;
    margin: 0 15px;
}

.header-content nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

/* Main Content Styles */
main {
    flex: 1;
}

.hero-section {
    text-align: center;
}

.hero-section h2 {
    font-size: 1.7rem;
}

.hero-section p {
    font-size: 1rem;
}

/* Event List Styles */
#event-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.event-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.event-card p {
    margin-bottom: 10px;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .event-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .event-card {
        width: 100%;
    }
}

/* Date Ideas Section Styles */
#date-ideas {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 2px;
}

/* SEARCH */

#search-bar-container {
    margin-bottom: 20px;
    text-align: center; /* Center the search bar */
}

#search-bar {
    padding: 10px; /* Reduce padding for a thinner appearance */
    width: 70%; /* Reduce width */
    max-width: 400px; /* Reduce max-width */
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 0.9rem; /* Reduce font size */
}

#search-bar:focus {
    outline: none; /* Remove focus outline for a cleaner appearance */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Increase box shadow on focus */
}

#search-button {
    padding: 8px 15px; /* Reduce padding for a smaller button */
    font-size: 0.9rem; /* Reduce font size */
    border-radius: 20px; /* Adjust border radius to match the search bar */
    border: none; /* Remove border */
    background-color: #007bff; /* Set background color to a shade of blue */
    color: #fff; /* Set text color to white */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Add transition for hover effect */
}

#search-button:hover {
    background-color: #0056b3; /* Darken background color on hover */
}

/* CSS for tags */
.tag {
    display: inline-block; /* Display tags inline */
    background-color: #007bff; /* Background color */
    color: #fff; /* Text color */
    padding: 5px 10px; /* Padding */
    margin: 5px; /* Margin */
    border-radius: 20px; /* Rounded corners */
    font-size: 0.9rem; /* Font size */
}

/* CSS for container of tags */
.tags {
    margin-top: 10px; /* Add spacing between tags and other content */
}



/* GENERATE */

.input-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 350px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; 
}

#decision-needed {
    display: flex;
    outline: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    float: left;
    color: grey;
}

#spin-button {
    display: flex;
    padding: 0.5rem;
    width: 100px;
    outline: none;
    background-color: black;
    color: white;
    font-size: 16px;
    margin: 5px;
    border-radius: 15px;   
    float: left;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid black;
}

#spin-button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.task, #item-list {
    background-color: #E9EDEE;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    height: 100px;
}

#decision {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    align-self: center;
    text-align: center;
    width: 250px;
    overflow: hidden;
}


hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    height: 1px;
    border: none;
}

#arrow-ticker{
    padding: 5px;
    height: 25px;
    width: 25px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(225deg);
 }

 .wheel-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    width: 350px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; 
    
}

 #wheel {
    height: 200px;
    width: 200px;
 }


/* END OF GENERATE */

/* Footer Styles */
footer {
    background-color:#ccc; /* Dark background color for better contrast */
    color:#ccc;
    text-align: center;
    font-size: 15px;
    position: relative;
    width: 100%;
    padding: 10px 0; /* Reduced padding to decrease spacing */
    margin: 0; /* Ensure no margin is added by default */
}

footer p {
    margin: 0; /* Ensure no additional margin is added to paragraphs */
    padding: 0; /* Ensure no additional padding is added to paragraphs */
}

#disclaimer {
    font-size: 10px;
    color: #fff;
    padding: 10px;

}

/* Tag Styles */
.tag {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    font-size: 0.8rem;
}

/* Style for the recommendation form */
#recommendation-form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    padding-top:20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for the form fields */
#recommendation-form .form-group {
    margin-bottom: 15px;
}

#recommendation-form label {
    display: block;
    margin-bottom: 5px;
}

#recommendation-form input,
#recommendation-form select,
#recommendation-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

/* Style for the submit button */
#recommendation-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#recommendation-form button:hover {
    background-color: #0056b3;
}

/* Style for recommendation result */
#recommendation-result {
    margin-top: 20px; /* Add space above the result */
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #ffffff;
    color: #212529;
}

/* back to top button */
#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(12, 12, 12); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }